<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="base :: headstuff"></head>
<body>
<nav th:replace="base :: navbar"></nav>
<div class="container">
    <h2>Insecure Page</h2>
    <div sec:authorize="isAuthenticated()">
        This content is only shown to authenticated users.<br/>

        <div sec:authorize="hasAuthority('ADMIN')">
            This content is only shown to administrators.
        </div>
        <div sec:authorize="hasAuthority('USER')">
            This content is only shown to users.
        </div>
        Logged user: <span sec:authentication="name">The value of the "name"
        property of the authentication object should appear here.</span><br/>
        Roles:
        <span sec:authentication="principal.authorities">[USER, ADMIN]
        </span><br/><br/>
    </div>
    <div sec:authorize="isAnonymous()">
        This content is only shown to anonymous users.
    </div>


    <table class="table">
        <thead class="thead-background">
        <tr>
            <th>Menu Item</th>
            <th>price</th>
            <th>description</th>
            <th>picture</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="menu : ${menus}">

            <td th:text="${menu.item}"></td>
            <td th:text="${menu.price}"></td>
            <td th:text="${menu.description}"></td>
            <td>
                <div  th:if="${menu.image} != null">
                    <img style="width: 150px;" th:src="${menu.image}" />
                </div>
            </td>
            <td>
                <a th:href="@{/update/{id}(id=${menu.id})}">Update</a> -
                <a th:href="@{/detail/{id}(id=${menu.id})}">Details</a> -
                <a th:href="@{/delete/{id}(id=${menu.id})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <br/>

</div>
<nav th:replace="base :: footer"></nav>
<th:block th:replace="base :: jslinks"></th:block>
</body>
</html>