<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head th:replace="base :: headstuff">
<body class="list-back" >
<nav th:replace="base :: main-navbar"></nav>
<div class="container p-5 bg-light">

    <div class="emptySpace"></div>

    <button href="/" type="button" class="btn btn-info">View All Messages</button>

    <section class="container text-left">
        Title : <span th:text="${message.title}"></span><br>
        Content : <span th:text="${message.content}"></span><br>
        Posted Date : <span th:text="${message.postedDate}"></span><br>
        Posted By: <span th:text="${message.postedBy}"></span><br>
        <a th:href="@{/delete/{id}(id=${message.id})}">Delete this message</a>
    </section>


</div>
</body>
</html>